@font-face {
  font-display: swap;
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf");
}
:root {
  --blue: hsl(227, 88%, 49%);
  --dark-blue: hsl(228, 46%, 31%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --green: hsl(107, 88%, 63%);
  --light-blue: hsl(227, 91%, 74%);
  --light-red: hsl(347, 92%, 72%);
  --red: hsl(347, 88%, 37%);
  --white: hsl(0, 0%, 100%);
  --yellow: hsl(47, 88%, 63%);
  --attribution-link-color: var(--dark-blue);
  --attribution-link-hover-color: var(--gray-950);
  --attribution-text-color: var(--gray-950);
  --category-text-color: var(--gray-950);
  --selection-bg-color: var(--gray-950);
  --selection-text-color: var(--theme-color);
  --theme-color: var(--yellow);
}

[data-theme=red] {
  --attribution-link-color: var(--white);
  --attribution-link-hover-color: var(--attribution-link-color);
  --attribution-text-color: var(--white);
  --category-text-color: var(--white);
  --selection-bg-color: var(--gray-950);
  --selection-text-color: var(--light-red);
  --theme-color: var(--red);
}

[data-theme=yellow] {
  --attribution-link-color: var(--dark-blue);
  --attribution-link-hover-color: var(--gray-950);
  --attribution-text-color: var(--gray-950);
  --category-text-color: var(--gray-950);
  --selection-bg-color: var(--gray-950);
  --selection-text-color: var(--theme-color);
  --theme-color: var(--yellow);
}

[data-theme=green] {
  --attribution-link-color: var(--dark-blue);
  --attribution-link-hover-color: var(--gray-950);
  --attribution-text-color: var(--gray-950);
  --category-text-color: var(--gray-950);
  --selection-bg-color: var(--gray-950);
  --selection-text-color: var(--theme-color);
  --theme-color: var(--green);
}

[data-theme=blue] {
  --attribution-link-color: var(--white);
  --attribution-link-hover-color: var(--attribution-link-color);
  --attribution-text-color: var(--white);
  --category-text-color: var(--white);
  --selection-bg-color: var(--gray-950);
  --selection-text-color: var(--light-blue);
  --theme-color: var(--blue);
}

.centered-to-card, .attribution, .buttons_container {
  left: 0.25rem;
  position: relative;
}

.card-and-buttons-container-width, .buttons_container, .card {
  width: clamp(17.5rem, 87.2vw, 24rem);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: background-color 0.5s linear;
  align-items: center;
  background-color: var(--theme-color);
  color: var(--gray-950);
  font: 500 initial/1.5 "Figtree", sans-serif;
  justify-content: center;
  min-height: 100%;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

::selection {
  background: var(--selection-bg-color);
  color: var(--selection-text-color);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--white);
  border: 1px solid var(--gray-950);
  border-radius: 20px;
  box-shadow: 8px 8px var(--gray-950);
  margin-top: 1rem;
  padding: 24px;
}

.blog_image {
  transition: opacity 0.5s linear;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  position: relative;
  width: 100%;
}
.blog_image:nth-child(2) {
  top: -100%;
}
.blog_image:nth-child(3) {
  top: -200%;
}
.blog_image:nth-child(4) {
  top: -300%;
}
.blog_image.hidden {
  opacity: 0;
}

.blog_images_container {
  height: 12.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.content__category {
  font: 800 clamp(0.75rem, 3vw, 0.875rem)/1.5 "Figtree", sans-serif;
  transition: background-color 0.5s linear, color 0.5s linear;
  background-color: var(--theme-color);
  border-radius: 4px;
  color: var(--category-text-color);
  padding: 3px 12px;
  width: fit-content;
}

.content__description {
  font: 500 clamp(0.875rem, 3.5vw, 1rem)/1.5 "Figtree", sans-serif;
  color: var(--gray-500);
}

.content__publish_date {
  font: 500 clamp(0.75rem, 3vw, 0.875rem)/1.5 "Figtree", sans-serif;
}

.content__title {
  font: 800 clamp(1.25rem, 5.1vw, 1.5rem)/1.5 "Figtree", sans-serif;
  color: var(--gray-950);
  text-decoration: none;
}
.content__title:hover, .content__title:focus {
  color: var(--theme-color);
}

.author {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}

.author__avatar {
  height: 32px;
  width: 32px;
}

.author__name {
  font: 800 0.875rem/1.5 "Figtree", sans-serif;
}

.button {
  font: 500 clamp(0.875rem, 3.5vw, 1rem)/1.5 "Figtree", sans-serif;
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0.313rem var(--gray-950);
  cursor: pointer;
  padding: 9px;
}
.button:hover:not([disabled]), .button:active, .button:focus {
  font-weight: 800;
}
.button:active {
  box-shadow: none;
  transform: translateY(0.313rem);
}

.buttons_container {
  display: grid;
  gap: 1rem;
  grid: auto/repeat(2, 1fr);
}

#theme_switcher_red:hover:not([disabled]), #theme_switcher_red:active, #theme_switcher_red:focus {
  background-color: var(--red);
  color: var(--white);
}

#theme_switcher_yellow:hover:not([disabled]), #theme_switcher_yellow:active, #theme_switcher_yellow:focus {
  background-color: var(--yellow);
  color: var(--gray-950);
}

#theme_switcher_green:hover:not([disabled]), #theme_switcher_green:active, #theme_switcher_green:focus {
  background-color: var(--green);
  color: var(--gray-950);
}

#theme_switcher_blue:hover:not([disabled]), #theme_switcher_blue:active, #theme_switcher_blue:focus {
  background-color: var(--blue);
  color: var(--white);
}

.attribution {
  font: 500 clamp(0.688rem, 2.7vw, 0.875rem)/1.5 "Figtree", sans-serif;
  transition: color 0.5s linear;
  color: var(--attribution-text-color);
  margin-bottom: 1rem;
}
.attribution a {
  color: var(--attribution-link-color);
}
.attribution a:hover, .attribution a:focus {
  color: var(--attribution-link-hover-color);
  text-decoration: none;
}
.attribution a:not(:hover) {
  transition: color 0.5s linear;
}

/*# sourceMappingURL=compiled_style.css.map */
