.attribution { 
    @extend .centered-to-card;
    @include responsive-font-light(0.688rem, 2.7vw, 0.875rem);
    @include transition-single("color");
    color: var(--attribution-text-color);
    margin-bottom: 1rem;

    a {
        color: var(--attribution-link-color);

        &:hover {
            color: var(--gray-950);
        }

        &:not(:hover) {
            @include transition-single("color");
        }
    }
}