.attribution { 
    @extend .centered-to-card;
    color: var(--attribution-text-color);
    font: 500 clamp(0.688rem, 2.7vw, 0.875rem) $font-stack;
    margin-bottom: 1rem;
    transition: color 0.5s linear;

    a {
        color: var(--attribution-link-color);

        &:hover {
            color: var(--gray-950);
        }

        &:not(:hover) {
            transition: color 0.5s linear;
        }
    }
}