.button {
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0.313rem var(--gray-950);
    cursor: pointer;
    padding: 7px;

    // &:hover, &:active {
    //     background-color: var(--green);
    //     color: var(--grey-900);
    // }

    &:active {
        box-shadow: none;
        transform: translateY(0.313rem);
    }
}