.button {
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0.313rem var(--gray-950);
    cursor: pointer;
    padding: 7px;

    &:active {
        box-shadow: none;
        transform: translateY(0.313rem);
    }
}

#theme-switcher-red {
    &:hover:not([disabled]) {
        background-color: var(--red);
        color: var(--white);
    }
}

#theme-switcher-yellow {
    &:hover:not([disabled]) {
        background-color: var(--yellow);
    }
}

#theme-switcher-green {
    &:hover:not([disabled]) {
        background-color: var(--green);
    }
}

#theme-switcher-blue {
    &:hover:not([disabled]) {
        background-color: var(--blue);
        color: var(--white);
    }
}