.button {
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0.313rem var(--gray-950);
    cursor: pointer;
    font-size: clamp(0.875rem, 3.5vw, 1rem);
    font-weight: 500;
    padding: 9px;

    &:hover:not([disabled]), &:active {
        font-weight: 800;
    }

    &:active {
        box-shadow: none;
        transform: translateY(0.313rem);
    }
}

.buttons_container {
    display: grid;
    gap: 1rem;
    grid: auto / repeat(2, 1fr);
    width: clamp(18rem, 89vw, 24.5rem);
}

#theme-switcher-red {
    &:hover:not([disabled]) {
        background-color: var(--red);
        color: var(--white);
    }
}

#theme-switcher-yellow {
    &:hover:not([disabled]) {
        background-color: var(--yellow);
    }
}

#theme-switcher-green {
    &:hover:not([disabled]) {
        background-color: var(--green);
    }
}

#theme-switcher-blue {
    &:hover:not([disabled]) {
        background-color: var(--blue);
        color: var(--white);
    }
}