.card {
    @extend .card-and-buttons-container-width;
    @include flex-column;
    background-color: var(--white);
    border: 1px solid var(--gray-950);
    border-radius: 20px;
    box-shadow: 8px 8px var(--gray-950);
    margin-top: 1rem;
    padding: 24px;
}