.content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.content__category {
    background-color: var(--yellow);
    border-radius: 4px;
    font: 800 clamp(0.75rem, 3vw, 0.875rem) $font-stack;
    padding: 4px 12px;
    width: fit-content;
}

.content__description {
    color: var(--gray-500);
    font: 500 clamp(0.875rem, 3.5vw, 1rem) $font-stack;
}

.content__publish_date {
    font: 500 clamp(0.75rem, 3vw, 0.875rem) $font-stack;
}

.content__title {
    color: var(--gray-950);
    font: 800 clamp(1.25rem, 5.1vw, 1.5rem) $font-stack;
    text-decoration: none;

    &:hover {
        color: var(--yellow);
    }
}