.content {
    @include flex-column(0.75rem);
}

.content__category {
    @include responsive-font-heavy(0.75rem, 3vw, 0.875rem);
    @include transition-double("background-color", "color");
    background-color: var(--theme-color);
    color: var(--category-text-color);
    border-radius: 4px;
    padding: 3px 12px;
    width: fit-content;
}

.content__description {
    @include responsive-font-light(0.875rem, 3.5vw, 1rem);
    color: var(--gray-500);
}

.content__publish_date {
    @include responsive-font-light(0.75rem, 3vw, 0.875rem);
}

.content__title {
    @include responsive-font-heavy(1.25rem, 5.1vw, 1.5rem);
    color: var(--gray-950);
    text-decoration: none;

    &:hover {
        color: var(--theme-color);
    }
}