@mixin flex-column($g: 1.5rem) {
    display: flex;
    flex-direction: column;
    gap: $g;
}

@mixin selected-button-colors($bg-c, $c: "gray-950") {
    #theme_switcher_#{$bg-c} {
        &:hover:not([disabled]), &:active {
            background-color: var(--#{$bg-c});
            color: var(--#{$c});
        }
    }
}