*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    @include flex-column;
    @include transition-single("background-color");
    align-items: center;
    background-color: var(--theme-color);
    color: var(--gray-950);
    font: 500 initial/1.5 $font-stack;
    justify-content: center;
    min-height: 100%;
    text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

main {
    @include flex-column;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

::selection {
    background: var(--selection-bg-color);
    color: var(--selection-text-color);
}