// Variables for font and colors
$font-stack: 'Figtree', sans-serif;

:root {
    --dusky-blue: hsl(228, 45%, 44%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
}